In [1]:
#importing libraries
import pandas as pd
import selenium 
from selenium import webdriver
import time
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import NoSuchElementException

1
Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data. This task will be done in following steps:

1.first get the webpage https://www.naukri.com/
2.Enter “Data Analyst” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.
3.Then click the search button.
4.Then scrape the data for the first 10 jobs results you get.
5.Finally create a dataframe of the scraped data.

In [4]:
#importing chromedriver
driver=webdriver.Chrome("chromedriver.exe")

#getting Url
url="https://www.naukri.com/"
driver.get(url)
search_bar=driver.find_element_by_id("qsb-keyword-sugg")   #search bar
search_bar.send_keys("Data Analyst")  #writing on search bar
search_loc=driver.find_element_by_id("qsb-location-sugg") #finding job location bar
search_loc.send_keys("Banglore") # setting banglore location

#click on search button:
search_btn=driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

time.sleep(4)
# Extracting Data
title=[]  #empty box
loc=[]   #empty box
cname=[] #empty box
experiance=[] #empty box

#titles
titles=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
for i in titles:
    title.append(i.text)
title=title[:10]

# extracting location
l=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]/span')
for i in l:
    loc.append(i.text)
loc=loc[:10]

#extracting companies names
com=driver.find_elements_by_xpath('//div[@class="mt-7 companyInfo subheading lh16"]')
for i in com:
    cname.append(i.text)
cname=cname[:10]

# extracting experiance data
e=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in e:
    experiance.append(i.text)
experiance=experiance[:10]

driver.close()
#Making DataFrame
Ans1=pd.DataFrame({})
Ans1["Job_Title"]=title
Ans1["Location"]=loc
Ans1["Company_Name"]=cname
Ans1["Experiance_Required"]=experiance
Ans1

,Job_Title,Location,Company_Name,Experiance_Required
0,Senior Data Analyst,"Gurgaon/Gurugram, Bangalore/Bengaluru",Gaussian Networks Private Limited\n3.6\n(24 Re...,3-5 Yrs
1,Tcs Hiring For Senior Data Analyst (bfsi domain),"Chennai, Bangalore/Bengaluru",Tata Consultancy Services Ltd.\n4.0\n(23680 Re...,6-11 Yrs
2,Business Data Analyst,Bangalore/Bengaluru,Trigent Software\n3.8\n(159 Reviews),5-10 Yrs
3,Business Data Analyst,Bangalore/Bengaluru,Trigent Software\n3.8\n(159 Reviews),5-10 Yrs
4,Business Data Analyst - Google Data Studio & SQL,Bangalore/Bengaluru,AVE-Promagne,3-8 Yrs
5,Senior Data Analyst,"Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram...",Virtusa Consulting Services Pvt Ltd\n3.4\n(111...,8-12 Yrs
6,Tcs Hiring For MDM (master data management) Da...,(WFH during Covid),Tata Consultancy Services Ltd.\n4.0\n(23680 Re...,6-11 Yrs
7,Senior Data Analyst IDAM Services,"Chennai, Bangalore/Bengaluru",GlaxoSmithKline Pharmaceuticals Limited\n4.3\n...,4-8 Yrs
8,Data Analyst/Sr.Data Engineer,Bangalore/Bengaluru,SYREN TECHNOLOGIES PRIVATE LIMITED,4-9 Yrs
9,SENIOR DATA ANALYST,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben...",McAfee Software (India) Pvt. Ltd\n3.8\n(137 Re...,6-8 Yrs

2
Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data. This task will be done in following steps:

1.first get the webpage https://www.naukri.com/
2.Enter “Data Scientist” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.
3.Then click the search button.
4.Then scrape the data for the first 10 jobs results you ge

In [5]:
#importing chrome drive
driver=webdriver.Chrome("chromedriver.exe")
#loading url
driver.get("https://www.naukri.com/")
time.sleep(3)

#loacating search bar
search_bar=driver.find_element_by_id("qsb-keyword-sugg")


#writing on search bar
search_bar.send_keys("Data Scientist")

#finding job location bar
search_loc=driver.find_element_by_id("qsb-location-sugg")


# setting banglore location
search_loc.send_keys("Banglore")

#click on search button:
search_btn=driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()
time.sleep(3)

#getting url
url=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')

urls=[]
for i in url:
    urls.append(i.get_attribute("href"))

#emptybox
titles=[]
loc=[]
cname=[]
des=[]

#extracting data
for i in urls[:10]:
    driver.get(i)
    time.sleep(3)
  
    #extractig jobtitles 
    try:
        job=driver.find_element_by_xpath('//h1[@class="jd-header-title"]')
        titles.append(job.text)
    except NoSuchElementException:
        titles.append("--")

    #extractig locations
    try:
        k=driver.find_element_by_xpath('//div[@class="loc"]')
        loc.append(k.text)
    except NoSuchElementException:
        loc.append("--")
   
   #extractig cname  
    try:
        l=driver.find_element_by_xpath("//a[@class='pad-rt-8']")
        cname.append(l.text)
    except NoSuchElementException:
        cname.append("--")

    #extracting Description
    try:
        z=driver.find_element_by_xpath('//div[@class="dang-inner-html"]')
        des.append(z.text)
    except NoSuchElementException:
        des.append("--")

driver.close()
#Making DataFrame
Ans2=pd.DataFrame({})
Ans2["Job_Title"]=titles
Ans2["Location"]=loc
Ans2["Company_Name"]=cname
Ans2["Job_Description"]=des
Ans2

,Job_Title,Location,Company_Name,Job_Description
0,Hiring For Data Scientist,"Chennai, Bangalore/Bengaluru, Mumbai (All Area...",Tata Consultancy Services Ltd.,Minumum 3 years of experience in Data Science/...
1,--,--,--,--
2,Associate Data Scientist,Bangalore/Bengaluru,Philips India Limited,Use predictive modeling to increase and optimi...
3,Data Scientist,Bangalore/Bengaluru,Brillio,A day in the Life of Data Scientist at Brillio...
4,Data Scientist - I / II,Bangalore/Bengaluru,Sharechat,Responsibilities\nApply state of the art in th...
5,Data Scientist,Bangalore/Bengaluru,Allegis Services India Pvt. Ltd.,Must Have skill sets:\n\nExcellent knowledge o...
6,--,--,--,--
7,--,--,--,--
8,Senior Data Scientist,Bangalore/Bengaluru,Walmart Labs,"As a Senior Data Scientist for Walmart, you ll..."
9,Senior Data Scientist,Bangalore/Bengaluru,Airbnb,Responsibilities include:\nDefining and evalua...

3
In this question you have to scrape data using the filters available on the webpage You have to use the location and salary filter. You have to scrape data for “Data Scientist” designation for first 10 job results. You have to scrape the job-title, job-location, company_name, experience_required. The location filter to be used is “Delhi/NCR” The salary filter to be used is “3-6” lakhs The task will be done as shown in the below steps:

1.first get the webpage https://www.naukri.com/
2.Enter “Data Scientist” in “Skill,Designations,Companies” field . Then click the search button.
3.Then apply the location filter and salary filter by checking the respective boxes
4.Then scrape the data for the first 10 jobs results you get.
5.Finally create a dataframe of the scraped data

In [6]:
#loading webdriver
driver=webdriver.Chrome("chromedriver.exe")
#calling site
driver.get("https://www.naukri.com/")
#extraction preocess
search_bar=driver.find_element_by_id("qsb-keyword-sugg") #search bar
search_bar.clear()  #clearing search bar
search_bar.send_keys("Data Scientist")   #inserting "Data science" in search bar
search_btn=driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click() #clicking on search button
time.sleep(4)
driver.find_element_by_xpath('//*[@title="Delhi / NCR"]').click()   #setting location filter delhi
time.sleep(4)
driver.find_element_by_xpath('//*[@title="3-6 Lakhs"]').click()   #setting salary
time.sleep(4)
#extracting the required data
titles=[] #empty list for job_title
loc=[] #empty list for location
cname=[] #empty list for company name
expr=[] #empty list for experiance_requires


#job_title
title=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
for i in title:
    titles.append(i.text)
titles=titles[:10]

#location
location=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location:
    loc.append(i.text)
loc=loc[:10]

#company_name
cn=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
for i in cn:
    cname.append(i.text)
cname=cname[:10]

#experiance_required
exr=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in exr:
    expr.append(i.text)
expr=expr[:10]

driver.close()
#Making DataFrame
Ans3=pd.DataFrame({})
Ans3["Job_Title"]=titles
Ans3["Location"]=loc
Ans3["Company_Name"]=cname
Ans3["Experiance_required"]=expr
Ans3

,Job_Title,Location,Company_Name,Experiance_required
0,Data Scientist / Data Analyst / Business Analy...,"Ghaziabad, Faridabad, Delhi / NCR",GABA Consultancy services,0-0 Yrs
1,Data Scientist/ Machine Learning Engineer,"Hyderabad/Secunderabad, Pune, Ahmedabad, Gurga...",Creative Hands HR Consultancy,0-0 Yrs
2,Data Scientist / Data Analyst,Gurgaon/Gurugram,CARS24,1-5 Yrs
3,Only Fresher / Data Scientist / Data Analyst /...,"Noida, Gurgaon/Gurugram, Delhi / NCR",GABA Consultancy services,0-0 Yrs
4,Data Scientist / Data Analyst / Business Analy...,"Noida, New Delhi, Gurgaon/Gurugram",GABA Consultancy services,0-0 Yrs
5,Data Scientist,Noida\n(WFH during Covid),R Systems International Ltd.,3-6 Yrs
6,Data Scientist,Gurgaon/Gurugram\n(WFH during Covid),PROCESS NINE TECHNOLOGIES PVT.LTD.,1-3 Yrs
7,Data Scientist - Insurance,"Noida, Gurgaon/Gurugram",Huquo Consulting Pvt. Ltd,2-7 Yrs
8,Data Scientist - WFH - MIND Infotech,"Pune, Chennai, Bangalore/Bengaluru, Delhi / NC...",MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,3-7 Yrs
9,Junior Data Scientists & Engineers,"New Delhi, Delhi / NCR",PY Consultancy,0-3 Yrs

4
Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company. This task will be done in following steps:

1.first get the webpage https://www.glassdoor.co.in/index.htm
2.Enter “Data Scientist” in “Job Title,Keyword,Company” field and enter “Noida” in “location” field.
3.Then click the search button.
4.Then scrape the data for the first 10 jobs results you get in the above shown page. Finally create a dataframe of the scraped data.

In [41]:
#importing chromedriver
driver=webdriver.Chrome("chromedriver.exe")

#getting Url
url="https://www.glassdoor.co.in/Job/index.htm"
driver.get(url)
search_bar=driver.find_element_by_id("KeywordSearch")   #search bar
search_bar.send_keys("Data Scientist")  #writing on search bar
search_loc=driver.find_element_by_id("LocationSearch") #finding job location bar
search_loc.send_keys("Noida") # setting Noida location

#click on search button:
search_btn=driver.find_element_by_xpath("//button[@class='gd-btn-mkt']")
search_btn.click()

time.sleep(4)
# Extracting Data
cname=[]  #empty box
postd=[]   #empty box
rating=[] #empty box

#Company name
titles=driver.find_elements_by_xpath('//div[@class="d-flex justify-content-between align-items-start"]/a')
for i in titles:
    cname.append(i.text)
cname=cname[:10]

# extracting rating
r=driver.find_elements_by_xpath('//span[@class="css-19pjha7 e1cjmv6j1"]')
for i in r:
    rating.append(i.text)
rating=rating[:10]

#extracting no.of day before posted
com=driver.find_elements_by_xpath('//div[@class="d-flex align-items-end pl-std css-mi55ob"]')
for i in com:
    postd.append(i.text)
postd=postd[:10]

driver.close()
#Making DataFrame
Ans4=pd.DataFrame({})
Ans4["company_name"]=cname
Ans4["Rating"]=rating
Ans4["Posted"]=postd

5
Write a python program to scrape the salary data for Data Scientist designation in Noida location. You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary. The above task will be, done as shown in the below steps:

1.first get the webpage https://www.glassdoor.co.in/Salaries/index.htm
2.Enter “Data Scientist” in Job title field and “Noida” in location field.
3.Click the search button. 4.Scrape data for first 10 companies. Scrape the min salary, max salary, company name, Average salary and rating of the company. 5..Store the data in a dataframe.

In [35]:
#importing chromedriver
driver=webdriver.Chrome("chromedriver.exe")

#getting Url
url="https://www.glassdoor.co.in/Salaries/index.htm"
driver.get(url)
search_bar=driver.find_element_by_id("KeywordSearch")   #search bar
search_bar.send_keys("Data Scientist")  #writing on search bar
search_loc=driver.find_element_by_id("LocationSearch") #finding job location bar
search_loc.send_keys("Noida") # setting Noida location

#click on search button:
search_btn=driver.find_element_by_xpath("//button[@class='gd-btn-mkt']")
search_btn.click()

time.sleep(6)
# Extracting Data
cname=[]  #empty box
nsalaries=[]   #empty box
avgsalaries=[] #empty box
minmaxsalary=[] #empty box

#Company name
titles=driver.find_elements_by_xpath('//p[@class="m-0 "]')
for i in titles:
    cname.append(i.text)
cname=cname[:10]

# extracting number of salaries
n=driver.find_elements_by_xpath('//p[@class="css-1uyte9r css-1kuy7z7 m-0 "]')
for i in n:
    nsalaries.append(i.text)
nsalaries=nsalaries[:10]

#extracting average salaries
a=driver.find_elements_by_xpath('//div[@class="col-2 d-none d-md-flex flex-row justify-content-end"]')
for i in a:
    avgsalaries.append(i.text.replace("\n",""))
avgsalaries=avgsalaries[:10]

# extracting minimum salaries
mi=driver.find_elements_by_xpath('//div[@class="common__RangeBarStyle__values d-flex justify-content-between "]')
for i in mi:
    minmaxsalary.append(i.text)
minmaxsalary=minmaxsalary[:10]
#seprating minimum and maximum salary
l =minmaxsalary
split_list =[i.split() for i in l]
flat_list = [item for sublist in split_list for item in sublist]
minsalary=flat_list[::2]
maxsalary=flat_list[1::2]

driver.close()
#Making DataFrame
Ans5=pd.DataFrame({})
Ans5["Company"]=cname
Ans5["No. of salaries"]=nsalaries
Ans5["Avg salaries"]=avgsalaries
Ans5["Minimum salaries"]=minsalary
Ans5["Maxmium salaries"]=maxsalary
Ans5

Empty DataFrame
Columns: [Company, No. of salaries, Avg salaries, Minimum salaries, Maxmium salaries]
Index: []

6
Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:

1.Brand
2.Product Description
3.Price
4.Discount % To scrape the data you have to go through following steps:
5.Go to flipkart webpage by url https://www.flipkart.com/
6.Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon
7.after that you will reach to a webpage having a lot of sunglasses. From this page you can scrap the required data as usual.
8.after scraping data from the first page, go to the “Next” Button at the bottom of the page , then click on it 5.Now scrape data from this page as usual
9.repeat this until you get data for 100 sunglasses.

In [16]:
#importing chromedriver
driver=webdriver.Chrome("chromedriver.exe")

#getting Url
url="https://www.flipkart.com/"
driver.get(url)
driver.find_element_by_xpath('//button[@class="_2KpZ6l _2doB4z"]').click()
time.sleep(2)
search_bar=driver.find_element_by_xpath('//*[@title="Search for products, brands and more"]')   #search bar
search_bar.click()
search_bar.send_keys("sunglasses")  #writing on search bar

#click on search button:
search_btn=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn.click()

time.sleep(4)
# Extracting Data
brand=[]  #empty box
pdes=[]   #empty box
price=[] #empty box
discount=[] #empty box

for i in range(0,3):   #chossing top 3 pages
    for j in driver.find_elements_by_xpath('//div[@class="_2WkVRV"]'):   #brand
        brand.append(j.text)
    for l in driver.find_elements_by_xpath('//a[@class="IRpwTa"]'):      #description
        pdes.append(l.text)

    for c in driver.find_elements_by_xpath('//div[@class="_30jeq3"]'):   #price
        price.append(c.text)

    for e in driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]'):   #discount
        discount.append(e.text)
    driver.find_element_by_xpath('//a[@class="_1LKTO3"]').click()      #next page
    time.sleep(5)

#selecting top 100 
brand=brand[:100]
pdes=pdes[:100]
price=price[:100]
discount=discount[:100]

driver.close()
#Making DataFrame
Ans6=pd.DataFrame({})
Ans6["Brand"]=brand
Ans6["Product_description"]=pdes
Ans6["Price"]=price
Ans6["Discount"]=discount
Ans6

,Brand,Product_description,Price,Discount
0,I Flash,"UV Protection, Polarized, Mirrored Rectangular...",₹137,86% off
1,I Flash,UV Protection Round Sunglasses (54),₹132,86% off
2,SHAAH COLLECTIONS,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹198,88% off
3,Elligator,"UV Protection, Gradient Rectangular Sunglasses...",₹295,88% off
4,kingsunglasses,UV Protection Aviator Sunglasses (54),₹284,89% off
...,...,...,...,...
95,I Flash,"Mirrored, UV Protection, Riding Glasses, Other...",₹198,83% off
96,SHAAH COLLECTIONS,"UV Protection, Gradient Wayfarer, Clubmaster S...",₹331,80% off
97,ROYAL SON,"UV Protection, Gradient, Mirrored, Riding Glas...",₹474,68% off
98,PIRASO,UV Protection Round Sunglasses (55),₹237,85% off
99,I Flash,"UV Protection, Mirrored, Gradient Round Sungla...",₹170,85% off

7
Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace. As shown in the above page you have to scrape the tick marked attributes. These are

1.Rating
2.Review_summary
3.Full review You have to scrape this data for first 100 reviews.

In [17]:
#importing chromedriver
driver=webdriver.Chrome("chromedriver.exe")

#getting Url
url="https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace"
driver.get(url)
driver.find_element_by_xpath('//div[@class="_3UAT2v _16PBlm"]').click()
time.sleep(2)

# Extracting Data
rating=[]  #empty box
rsum=[]   #empty box
fsum=[] #empty box


for i in range(0,11):   #chossing top 3 pages
    for j in driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]'):   #Rating
        rating.append(j.text)
    for l in driver.find_elements_by_xpath('//p[@class="_2-N8zT"]'):      #Review_summary
        rsum.append(l.text)
    for c in driver.find_elements_by_xpath('//div[@class="t-ZTKy"]'):   #Detail_summary
        fsum.append(c.text)
    driver.find_element_by_xpath('//a[@class="_1LKTO3"]').click()      #next page
    time.sleep(5)


driver.close()
#selecting top 100 
rating=rating[:100]
rsum=rsum[:100]
fsum=fsum[:100]

#Making DataFrame
Ans7=pd.DataFrame({})
Ans7["Rating"]=rating
Ans7["Review_summaru"]=rsum
Ans7["Detail_summary"]=fsum
Ans7

,Rating,Review_summaru,Detail_summary
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Fabulous!,This is my first iOS phone. I am very happy wi...
96,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
97,4,Good choice,So far it’s been an AMAZING experience coming ...
98,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."
99,5,Highly recommended,iphone 11 is a very good phone to buy only if ...

8
Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field. You have to scrape 4 attributes of each sneaker :

1.Brand
2.Product Description
3.Price
4.discount %

In [18]:
#importing chromedriver
driver=webdriver.Chrome("chromedriver.exe")

#getting Url
url="https://www.flipkart.com/"
driver.get(url)
driver.find_element_by_xpath('//button[@class="_2KpZ6l _2doB4z"]').click()
time.sleep(2)
search_bar=driver.find_element_by_xpath('//*[@title="Search for products, brands and more"]')   #search bar
search_bar.click()
search_bar.send_keys("sneakers")  #writing on search bar

#click on search button:
search_btn=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn.click()

time.sleep(4)
# Extracting Data
brand=[]  #empty box
pdes=[]   #empty box
price=[] #empty box
discount=[] #empty box

for i in range(0,4):   #chossing top 4 pages
    for j in driver.find_elements_by_xpath('//div[@class="_2WkVRV"]'):   #brand
        brand.append(j.text)
    for l in driver.find_elements_by_xpath('//a[@class="IRpwTa"]'):      #description
        pdes.append(l.text)

    for c in driver.find_elements_by_xpath('//div[@class="_30jeq3"]'):   #price
        price.append(c.text)

    for e in driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]'):   #discount
        discount.append(e.text)
    driver.find_element_by_xpath('//a[@class="_1LKTO3"]').click()      #next page
    time.sleep(5)

#selecting top 100 
brand=brand[:100]
pdes=pdes[:100]
price=price[:100]
discount=discount[:100]

driver.close()
#Making DataFrame
Ans8=pd.DataFrame({})
Ans8["Brand"]=brand
Ans8["Product_description"]=pdes
Ans8["Price"]=price
Ans8["Discount"]=discount
Ans8

,Brand,Product_description,Price,Discount
0,Magnolia,Sneakers For Men,₹356,64% off
1,BRUTON,Combo Pack Of 4 Casual Shoes Loafer Shoes Snea...,₹474,86% off
2,Longwalk,Men Boxer Sneakers For Men,₹236,52% off
3,Chevit,Perfect & Affordable Combo Pack of 02 Pairs Sn...,₹599,66% off
4,ASTEROID,Original Luxury Branded Fashionable Men's Casu...,₹499,75% off
...,...,...,...,...
95,RODDICK SHOES,Combo Men Pack of 2 Loafers Shoes Sneakers For...,₹474,52% off
96,Absolute comfort,SM-322 Sneakers For Men,₹198,60% off
97,believe,Fashion Outdoor Canvas Casual Light Weight Lac...,₹449,55% off
98,World Wear Footwear,New Collection of Combo Pack of 2 Stylish Shoe...,₹240,51% off
99,Airland,Sneakers For Men,₹264,47% off

9
Go to the link - https://www.myntra.com/shoes Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe.

In [19]:
#importing chromedriver
driver=webdriver.Chrome("chromedriver.exe")

#getting Url
url="https://www.myntra.com/shoes"
driver.get(url)
time.sleep(4)
driver.find_element_by_xpath("//label[@class='common-customCheckbox']").click()        
time.sleep(2)
driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label").click()

        


time.sleep(4)
# Extracting Data
brand=[]  #empty box
sdes=[]   #empty box
price=[] #empty box


for i in range(0,3):   #chossing top 4 pages
    for j in driver.find_elements_by_xpath('//h3[@class="product-brand"]'):   #brand
        brand.append(j.text)
    for l in driver.find_elements_by_xpath('//h4[@class="product-product"]'):      #description
        sdes.append(l.text)

    for c in driver.find_elements_by_xpath('//div[@class="product-price"]'):   #price
        price.append(c.text)

   
    driver.find_element_by_xpath('//li[@class="pagination-next"]').click()      #next page
    time.sleep(3)

#selecting top 100 
brand=brand[:100]
sdes=sdes[:100]
price=price[:100]

driver.close()
#Making DataFrame
Ans9=pd.DataFrame({})
Ans9["Brand"]=brand
Ans9["Product_description"]=sdes
Ans9["Price"]=price
Ans9

,Brand,Product_description,Price
0,Puma,Men BlackTraining or Gym Shoes,Rs. 6999
1,Puma,Men Cell Fraction Fade Running,Rs. 6999
2,Hush Puppies,Men Solid Leather Formal Slip-Ons,Rs. 8099Rs. 8999(10% OFF)
3,Hush Puppies,Men Solid Leather Formal Slip-Ons,Rs. 8999Rs. 9999(10% OFF)
4,Puma,Mesh Hybrid Fuego Running,Rs. 6999
...,...,...,...
95,Tommy Hilfiger,Men Suede Sneakers,Rs. 7599
96,Heel & Buckle London,Women Leather Pumps,Rs. 7192Rs. 8990(20% OFF)
97,PUMA Motorsport,Unisex Mercedes F1 Sneakers,Rs. 7999
98,Puma,Unisex Pacer Future Sneakers,Rs. 6999
99,Puma,Unisex Mirage Sport Trainers,Rs. 8999

10
Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:

1.title
2.Ratings
3.Price As shown in the below image as the tick marked attributes.

In [20]:
#importing chrome drive
driver=webdriver.Chrome("chromedriver.exe")
#loading url
driver.get("https://www.amazon.in/")
time.sleep(3)

#loacating search bar
search_bar=driver.find_element_by_id("twotabsearchtextbox")


#writing on search bar
search_bar.send_keys("Laptops")

#click on search button:
search_btn=driver.find_element_by_id("nav-search-submit-button")
search_btn.click()
time.sleep(3)

#i7 filter
filter_bi7=driver.find_elements_by_xpath("//span[@class='a-size-base a-color-base']")
for i in filter_bi7:
    if i.text=="Intel Core i7":
        i.click()
        break

#getting url
url=driver.find_elements_by_xpath('//a[@class="a-link-normal a-text-normal"]')

urls=[]
for i in url:
    urls.append(i.get_attribute("href"))

#emptybox
titles=[]
rating=[]
price=[]

#extracting data
for i in urls[:10]:
    driver.get(i)
    time.sleep(3)
  
    #extractig titles 
    try:
        t=driver.find_element_by_xpath('//span[@class="a-size-large product-title-word-break"]')
        titles.append(t.text)
    except NoSuchElementException:
        titles.append("--")

    #extractig rating
    try:
        k=driver.find_element_by_xpath('//span[@class="a-size-medium a-color-base"]')
        rating.append(k.text)
    except NoSuchElementException:
        rating.append("--")
   
   #extractig price 
    try:
        l=driver.find_element_by_xpath("//span[@class='a-size-medium a-color-price priceBlockBuyingPriceString']")
        price.append(l.text)
    except NoSuchElementException:
        price.append("--")
driver.close()
  

#Making DataFrame
Ans10=pd.DataFrame({})
Ans10["Job_Title"]=titles
Ans10["Rating"]=rating
Ans10["Price"]=price
Ans10

,Job_Title,Rating,Price
0,HP Envy 11th Gen Core i7 Processor 13.3-inch (...,4.1 out of 5,"₹1,23,350.00"
1,"Acer Swift 5 14"" (35.56cms) Full HD IPS Displa...",3.7 out of 5,"₹94,999.00"
2,Mi Notebook Horizon Edition 14 Intel Core i7-1...,4.2 out of 5,"₹57,990.00"
3,Lenovo IdeaPad S540 11th Gen Intel Core i7 13....,4.3 out of 5,"₹77,990.00"
4,HP Pavilion 13(2021) 11th Gen Intel Core i7 La...,5 out of 5,"₹92,990.00"
5,Fujitsu UH-X 11th Gen Intel Core i7 13.3” (33....,4.1 out of 5,"₹1,07,990.00"
6,Lenovo IdeaPad Gaming 3 Intel Core i7 10th Gen...,4.4 out of 5,"₹73,990.00"
7,Fujitsu UH-X 11th Gen Intel i7 Core 13.3” (33....,4.2 out of 5,"₹92,990.00"
8,"MSI GF75 Thin, Intel i7-10750H, 17.3"" (43.9 cm...",4 out of 5,"₹74,990.00"
9,HP Pavilion (2021) Thin & Light 11th Gen Core ...,4.3 out of 5,--